<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title><TMPL_VAR name="title"></title>
	<link rel="stylesheet" type="text/css" href="/themes/<TMPL_VAR name="theme">/style.css" title="Default">
	<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS 1.0">
	<link rel="alternate" type="application/rss+xml" href="/rss2.xml" title="RSS 2.0">
	<TMPL_IF name="google_webmaster_id">
		<meta name="verify-v1" content="<TMPL_VAR name="google_webmaster_id">">
	</TMPL_IF>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1>
			<a href="/"><TMPL_VAR name="title"></a><br>
			<span><TMPL_VAR name="subtitle"></span>
		</h1>
	</div>
	<div id="main">
	<TMPL_LOOP name="articles">
		<div class="article">
			<h2>
				<a href="/<TMPL_VAR name="year">/<TMPL_VAR name="month">/<TMPL_VAR name="uri">">
				<TMPL_VAR name="title"></a>
			</h2>
			<h3><TMPL_VAR name="date"> 
				<span>by <a href="/Tags/<TMPL_VAR name="author">"><TMPL_VAR name="author"></a></span>
			</h3>
			<div>
				<TMPL_VAR name="body">
				<TMPL_IF name="readmore">
					<p>
						<a href="/<TMPL_VAR name="year">/<TMPL_VAR name="month">/<TMPL_VAR name="uri">">
						Read the rest of this story...</a>
					</p>
				</TMPL_IF>
			</div>
			<ul>
				<TMPL_UNLESS name="comments">
				<li class="comments_count">
					<span>Comments <a href="/<TMPL_VAR name="year">/<TMPL_VAR name="month">/<TMPL_VAR name="uri">#comments">(<TMPL_VAR name="comments_count">)</a></span>
				</li>
				</TMPL_UNLESS>
				<TMPL_IF name="tag_loop">
				<li class="tags">
					<span>Tags:
						<TMPL_LOOP name="tag_loop">
							&nbsp; <a href="/Tags/<TMPL_VAR name="tag">"> <TMPL_VAR name="tag"></a>
						</TMPL_LOOP>
					</span>
				</li>
				</TMPL_IF>
			</ul>
			<TMPL_IF name="comments">
			<div class="comments">
				<a name="comments"></a>
				<h4>Comments</h4>
				<TMPL_LOOP name="comments">
					<h5>at <span><TMPL_VAR name="date"></span>,
						<TMPL_IF name="url">
							<a href="<TMPL_VAR name="url">">
						</TMPL_IF>
						<TMPL_VAR name="name">
						<TMPL_IF name="url"></a></TMPL_IF> 
						wrote in to say...
					</h5>
					<p>
						<TMPL_VAR name="comment">
					</p>
				</TMPL_LOOP>
			</div>
			</TMPL_IF>
		</div> 
		</TMPL_LOOP>
	<!-- end of articles -->
	<!-- error and notification message handling -->
	<TMPL_IF name="error">
		<h3 class="error">
			<img src="/themes/<TMPL_VAR name="theme">/images/asterisk-red.gif" style="height: 20px; padding-right: 5px;"> <TMPL_VAR name="error">
		</h3>
		</TMPL_IF>
	<TMPL_IF name="message">
		<h3 class="message">
			<img src="/themes/<TMPL_VAR name="theme">/images/asterisk-green.gif" style="height: 20px; padding-right: 5px;"> <TMPL_VAR name="message">
		</h3>
	</TMPL_IF>

	<!-- comment submission form -->
	<TMPL_IF name="comment_form">
		<div class="comment_form">
			<p>Add a comment:</p>
			<form action="/index.cgi" method="post">
				<p><input name="name" size="40" maxlength="100" value="<TMPL_VAR name="name">"> &nbsp; name</p>
				<p><input name="email" size="40" maxlength="100" value="<TMPL_VAR name="email">"> &nbsp; email</p>
				<p><input name="url" size="40" maxlength="100" value="<TMPL_VAR name="url">"> &nbsp; url</p>
				<p>max length <TMPL_VAR name="comment_max_length"> chars<br>
					<textarea rows="3" cols="30" name="comment"><TMPL_VAR name="comment"></textarea>
				</p>
				<script src="<TMPL_VAR name="captcha_api_server">/challenge?k=<TMPL_VAR name="captcha_pubkey">" type="text/javascript"></script>
				<noscript>
					<iframe frameborder="0" height="300" src="<TMPL_VAR name="captcha_api_server">/noscript?k=<TMPL_VAR name="captcha_pubkey">" width="500"></iframe>
					<textarea cols="40" name="recaptcha_challenge_field" rows="3"></textarea>
					<input name="recaptcha_response_field" type="hidden" value="manual_challenge">
				</noscript>
				<p><input type="submit" name="submit" value="submit comment"></p>
				<input type="hidden" name="id" value="<TMPL_VAR name="id">">
			</form>
		</div>
		</TMPL_IF>
	</div> <!-- end of #main -->
	<div id="sidebar">
		<div id="archive">
			<h3>Archive</h3>
			<TMPL_LOOP name="archives"> 
			<ul>
				<li><a href="/<TMPL_VAR name="year">/"><TMPL_VAR name="year"></a><span class="count"> (<TMPL_VAR name="count">)</span>
				<ul>
				<TMPL_LOOP name="month_loop">
					<li><a href="/<TMPL_VAR name="year">/<TMPL_VAR name="month">/"><TMPL_VAR name="month_name"></a><TMPL_IF name="count"><span class="count"> (<TMPL_VAR name="count">)</span></TMPL_IF>
					<TMPL_IF name="uri_loop">
					<ul>
					<TMPL_LOOP name="uri_loop">
						<li><a title="<TMPL_VAR name="full_title">" href="/<TMPL_VAR name="year">/<TMPL_VAR name="month">/<TMPL_VAR name="uri">"><TMPL_VAR name="title"></a></li>
					</TMPL_LOOP>
					</ul>
					</TMPL_IF>
					</li>
				</TMPL_LOOP>
				</ul>
				</li>
			</ul>
			</TMPL_LOOP>
		</div>
		<div id="feeds">
			<h3>Feeds</h3>
			<ul>
				<li><a href="/rss.xml"><img src="/themes/<TMPL_VAR name="theme">/images/xml.gif" alt="RSS 1.0">RSS 1.0</a></li>
				<li><a href="/rss2.xml"><img src="/themes/<TMPL_VAR name="theme">/images/xml.gif" alt="RSS 2.0">RSS 2.0</a></li>
			</ul>
		</div>
	</div> <!-- end of sidebar -->
	<div id="footer">
		<ul>
			<TMPL_IF name="page_next"><li><a href="/Page/<TMPL_VAR name="page_next">">Older Articles</a></li></TMPL_IF>
			<li>&copy; <TMPL_VAR name="copyright"></li>
		</ul>
	</div> <!-- end of footer -->
</div> <!-- end of wrapper -->

<pre id="dump"><TMPL_VAR name="dump"></pre>

<TMPL_IF name="google_analytics_id"> <!-- analytics support -->
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("<TMPL_VAR name="google_analytics_id">");
		pageTracker._trackPageview();
		} catch(err) {}
</script>
</TMPL_IF>
 
</body>
</html>
